<div class="modal fade" id="politicians-<%=party[:name]%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Politicians for the <%=party[:name].capitalize%> Party in <%=@year%> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
        <% party[:politicians].each do |politician| %>
        <li>
          <%= politician.name %>
        </li>
        <%end%>
      </ul>
      </div>
    </div>
  </div>
</div>
