<div class="modal fade" id="subordinates-<%=party[:name]%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLabel">Subordinates for the <%=party[:name].capitalize%> Party in <%=@year%> </h5>

      </div>
      <div class="modal-body">
        <% if party[:subordinates].empty? %>
          <p> None </p>
        <%end%>
        <ul>
        <% party[:subordinates].each do |subordinate| %>
        <li>
          <%=link_to subordinate.name, subordinate_path(subordinate, year: @year), class: 'card-link' %>
        </li>
        <%end%>
      </ul>
      </div>
    </div>
  </div>
</div>
